<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<!--  Regular bean creation-->
<!--  <bean id="bean1" class="com.khadri.spring.core.Bean1"/>-->

<!--  Instance Factory method bean creation-->
  <bean id="instanceFactory" class="com.khadri.spring.core.InstanceFactoryMethodService"/>
  <bean id="bean1" factory-bean="instanceFactory" factory-method="newInstance"/>


<!--  Static Factory method bean creation-->
  <bean id="bean2" class="com.khadri.spring.core.StaticFactoryMethodService" factory-method="newInstance"/>

</beans>